body{
    display: flex;
    background-color: rgb(238, 219, 188);
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    height: 100vh;
    text-align: center;
}

#aura{
    margin-top: 20px;
}

img{
    width: 400px;
    border-radius: 10px;
    margin: 20px;
}